@import "tailwindcss";

@theme {
  --breakpoint-3xl: 120rem;
  --animate-slide-down: slide-down 0.9s cubic-bezier(0.4, 0, 0.2, 1) both;
  --animate-slide-right: slide-right 0.9s cubic-bezier(0.4, 0, 0.2, 1) both;

  @keyframes slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-right {
    from {
      transform: translateX(-100%);
      opacity: 0;
    } to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

nav {
  font-family: var(--font-noto), sans-serif;
}
